<div class="rounded-md bg-white shadow">
  <div class="p-4 border-b-2 border-gray-200 flex flex-row justify-between items-center">
    <h3 class="text-xl font-medium">Barangay List</h3>

    <%= link_to "New barangay", new_barangay_path, class: "btn-primary float-right" %>
  </div>

  <div class="flex flex-row flex-wrap space-x-8 p-4">
    <% if Barangay.count > 0 %>
        <% @barangays.each do |barangay| %>
          <%= link_to(barangay, class: "rounded-lg hover:border-2 hover:border-sky-400") do %>
            <%= render barangay %>
          <% end %>
        <% end %>
    <% else %>
        <p>You do not have any barangays...</p>
    <% end %>
  </div>
</div>
