<div class="rounded-md bg-white shadow">
  <div class="p-4 border-b-2 border-gray-200 flex flex-row justify-between items-center">
    <h3 class="text-xl font-medium">Bundle List</h3>

    <%= link_to "New bundle", new_bundle_path, class: "btn-primary float-right" %>
  </div>

  <div class="flex flex-row flex-wrap space-x-8 p-4">
    <% if @bundles.count > 0 %>
        <% @bundles.each do |bundle| %>
          <%= link_to(bundle, class: "rounded-lg hover:border-2 hover:border-sky-400") do %>
            <%= render bundle %>
          <% end %>
        <% end %>
    <% else %>
        <p>You do not have any bundles...</p>
    <% end %>
  </div>
</div>
